page-login {

  .toolbar-background-md, .toolbar-background-ios {
    background-color: transparent !important;
  }

  .fields {
    display: flex;
    flex-wrap: wrap;
  }

  .err {
    text-align: center;
    font-size: 14px;
    background: rgba(204, 204, 204, 0.5);
  }

  .link-registration {
    text-align: center;
    text-decoration: underline;
  }
  .bg-image {
    background: url(../assets/img/login.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
  }

  .login-form .label{
    color: #454956;
    font-size: 24px;
    margin: 0;
    font-family: 'Arimo', sans-serif;
  }


  ion-label .label {
    margin: 0;
  }

  ion-item.item-md, ion-item.item-ios {
    background-color: transparent;
    flex: 1 50%;
    padding: 0;
  }

  .text-input-md, .text-input-ios {
    margin: 8px;
  }

  .login-btn {
    padding: 0px 16px 0px;
  }

  .btn {
    width: 47.9%;
  }

  .text-input-md, .text-input-ios {
    margin: 8px 0;
    width: 100%;
  }

  .btn.full {
    width: calc(100% - 8px) !important;
  }

  .btn.grey {
    background-color: #ccc;
    color: #000;
  }

  input.text-input-md, input.text-input-ios {
    background: #e1e5e6;
  }

  ion-footer {
    background-color: transparent;
    bottom: 20px;
  }

  @media (max-width: 320px) {
    .bg-image {
      background-position: 0 -45px;
    }
    button .button-inner {
      font-size: 0.8em;
    }
    .fields.list-ios {
      margin-bottom: 0;
    }
  }

}
