<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778112311036-gek8a85815tsmmadgt1hkvf62tu3v4ig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778112311036-gek8a85815tsmmadgt1hkvf62tu3v4ig</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>778112311036-u709q7j6npl7pmig1uh9cia6ip6juf7e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCr97gmC-KC2DBcy3BWWVQcEnPHLo9Psz4</string>
	<key>GCM_SENDER_ID</key>
	<string>778112311036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>il.co.gobaby</string>
	<key>PROJECT_ID</key>
	<string>shedate-1286</string>
	<key>STORAGE_BUCKET</key>
	<string>shedate-1286.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778112311036:ios:0c78c7cff2730949</string>
	<key>DATABASE_URL</key>
	<string>https://shedate-1286.firebaseio.com</string>
</dict>
</plist>